.cal  

{   

background-color:black;

height:300px;   

width:270px;            

}  

.elements

{       

top:15px;   

}

.display   

{   

width:220px;     

height:40px;   

}   

.display input 

{        

height:35px;   

color:black;   

background-color:white;   

font-size:21px;   

text-align:right;   

}     

.button   

{   

width:40px;   

height:30px;   

margin-left:17px;              

}    

.button.white   

{   

color:black;      

font-weight:bold; 

}            

p   

{   

line-height:10px;   

}